.mat-dialog-custom-container>mat-dialog-container {
    border-radius: 10px;
    background: #19242b;
}

.mat-dialog-custom-backdrop {
    background: rgba(0, 0, 0, 0.5);
}

body {
    font-family: sans-serif;
    background-color: #0d1316;
    color: whitesmoke
}

button {
    cursor: pointer;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

textarea {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
