h1{
    text-align: center;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 20px;
    left: 20px;
    top: 20px;
}

#navbar button,
#titleBox button {
    width: fit-content;
    border-radius: 100px;
    padding-block: 8px;
    padding-inline: 20px;
    font-weight: 400;
    color: #2196F3;
}

#titleBox button {
    color: white;
    padding-block: 6px;
    padding-inline: 16px;
}

#titleBox h2 {
    margin: 0;
}

#navbar button:nth-of-type(1) {
    margin-right: 10px;
    border: none;
    background: #19242b;
}

#navbar button:nth-of-type(2) {
    background: #2196F3;
    color: #0d1316;
    border: none;
}

#navbar span {
    font-size: 25px;
    font-weight: 100;
    color: #2196F3;
}

#navbar div {
    display: flex;
}

#container {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    text-align: center;
}

#container h1 {
    font-weight: 500;
    font-size: 50px;
}

#container p {
    font-size: 16px;
    opacity: 0.3;
    margin-top: 20px;
    font-weight: 100;
}

#emptyListPlaceholder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

#emptyListPlaceholder img {
    width: 25%;
    height: auto;
}

#emptyListPlaceholder p {
    margin-top: 20px;
    font-weight: 100;
    font-size: 20px;
    opacity: 0.3;
}

#overlay {
    background: black;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

#todoListContainer {
    margin-top: 50px;
    padding-bottom: 50px;
}

/* New Task Fields */
#newTaskFields {
    background: #19242b;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 3px 5px 0px #050505;
    margin-top: 30px;
}

.newTaskFieldsAbsolute {
    z-index: 9;
    position: absolute;
    left: 0;
    right: 0;
    top: 120px;
    margin-left: 25%;
    margin-right: 25%;
}

#saveButton {
    font-size: 16px;
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    min-height: 80px;
    resize: vertical;
    font-size: 16px;
}

#titleBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#titleBox input {
    padding: 10px;
    font-size: 18px;
    border: none;
    flex: 5;
    width: 100%;
}

#moreButton {
    margin: 5px;
    padding: 6px;
    background: #131b20;
    color: whitesmoke;
    width: fit-content;
    height: fit-content;
}

#moreButton .mat-icon {
    vertical-align: middle;
}

button {
    padding: 10px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    width: 100%;
    background: #2196F3;
    color: #0d1316;
    font-weight: 400;
}

input,
textarea {
    color: whitesmoke;
    background: transparent;
}

input::placeholder,
textarea::placeholder {
    color: whitesmoke;
    opacity: 0.2;
}

button,
textarea,
input:focus {
    outline: 0px;
}

/* Small devices (landscape phones) */

@media (max-width: 462px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 576px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (min-width: 576px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-left: 100px;
        margin-right: 100px;
    }
}

/* Medium devices (tablets, 768px */

@media (max-width: 768px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-top: 100px;
    }
}

@media (min-width: 768px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-left: 200px;
        margin-right: 200px;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {

    #container,
    .newTaskFieldsAbsolute {
        margin-left: 25%;
        margin-right: 25%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}

#container {
    text-align: start;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    background: #19242b;
    box-shadow: 0px 2px 2px 0px #050505;
}

#titleDateContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

#titleDateContainer div:nth-of-type(1) {
    flex: 4;
    margin-left: 10px;
}

#titleDateContainer div:nth-of-type(2) {
    flex: 1;
    margin-left: 10px;
    display: flex;
}

#titleDateContainer button:nth-of-type(1) {
    margin-right: 10px;
}

/* Title */
#titleDateContainer p:nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    margin: 5px 0px;
    opacity: 0.8;
}

/* Date */
#titleDateContainer p:nth-child(2) {
    font-size: 12px;
    font-style: italic;
    font-weight: 100;
    opacity: 0.5;
    margin: 0px;
}

/* Description */
div #description {
    font-size: 15px;
    font-weight: 100;
    margin: 10px 0px 0px;
    border-top: 2px solid #131b20;
    padding: 10px 10px 0px 10px;
    opacity: 0.8;
}

.doneToDoTitle {
    text-decoration-line: line-through;
    font-style: italic;
}

.selectedStatus {
    background: #2196F3;
}

button {
    padding: 8px;
    border: none;
    border-radius: 100px;
    font-size: 15px;
    width: 100%;
    background: #131b20;
    color: whitesmoke;
    font-weight: 400;
    width: fit-content;
    height: fit-content;
}

button .mat-icon {
    vertical-align: middle;
}

input,
textarea {
    color: whitesmoke;
    background: transparent;
}

input::placeholder,
textarea::placeholder {
    color: whitesmoke;
    opacity: 0.2;
}

button,
textarea,
input:focus {
    outline: 0px;
}